<% @orders = current_user.orders %>
<% if @orders.present? %>
  <% @orders.paid.each do |order| %>
    <div class="card container col-xs col-sm col-md col-lg-10 mt-3 mb-3 p-4">
      <h3 class="d-flex justify-content-center mt-2">
        Ordenes de Compra Pagadas
      </h3>
      <table class="table table-hover table-responsive-lg">
        <thead class="text-black">
            <tr >
              <th scope="col">Fecha</th>
              <th scope="col">Producto</th>
              <th scope="col">Descripción</th>
              <th scope="col">Precio</th>
              <th scope="col">Talla</th>
            </tr>
        </thead>
        <tbody>
          <thead class="text-black"> Orden: <%= order.id %> </thead>
          <% order.order_items.each do |order_item| %>
            <tr >
              <td><%= order_item.created_at.to_date %></td>
              <td><%= order_item.name %></td>
              <td><%= order_item.description %></td>
              <td><%= number_to_currency order_item.product.full_price(@currency), locale: @currency %></td>
              <td><%= order_item.size %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
<% end %>
