
<div class="d-flex justify-content-center p-3">
  <div class="card mb-3 col-xs col-md-10 col-lg-12" style="max-width: 800px;">
    <h3 class="card-title d-flex justify-content-center mt-3"><%=%></h3>
    <div class="row no-gutters d-flex justify-content-center">
      <div class="d-flex align-items-center mr-3" style="max-width: 200px;">
        <% if current_user.avatar.present? %>
          <% if Rails.env.production? %>
            <%= cl_image_tag current_user.avatar.key, class: "card-img-top rounded-circle" %>
          <% else %>
            <%= image_tag current_user.avatar, class: "card-img-top rounded-circle" %>
          <% end %>
        <% end %>
      </div>
      <div class="col-xs col-sm-10 col-md-9 col-lg-6 ml-3">
        <div class="card-body">

          <table class="table table-striped table-responsive-md table-responsive-lg">
            <tbody>
              <tr>
                <th scope="row">Nombre(s):</th>
                <td><%= current_user.first_name %></td>
              </tr>
              <tr>
                <th scope="row">Apellidos:</th>
                <td><%= current_user.last_name %></td>
              </tr>
              <tr>
                <th scope="row">Teléfono:</th>
                <td><%= current_user.phone %></td>
              </tr>
              <tr>
                <th scope="row">Correo:</th>
                <td><%= current_user.email %></td>
              </tr>
                <tr>
                  <th scope="row">Tienda</th>
                  <td><%= current_user.store.name %></td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
      <%# if @member.domicilie.present? %>
        <div class="col-xs col-sm-12 col-md p-3">
          <h3 class="card-title d-flex justify-content-center">Domicilio</h3>
          <table class="table table-striped table-responsive-md">
            <tbody class="text-center">
              <tr>
                <td><%#=%></td>
                <td><%#=%></td>
                <td><%#=%></td>
              </tr>
              <tr>
                <th scope="row">Calle</th>
                <th scope="row">Número </th>
                <th scope="row">Colonia</th>

              </tr>
              <tr>
                <td><%#=%></td>
                <td><%#=%></td>
                <td><%#=%></td>
              </tr>
              <tr>
                <th scope="row">C.P.</th>
                <th scope="row">Municipio</th>
                <th scope="row">Ciudad</th>
              </tr>
            </tbody>
          </table>
        </div>
      <%# end %>
    </div>
    <div class="d-flex justify-content-center mb-3">
      <%= link_to "Editar", user_edit_path,  type: "button", class: "btn btn-success col-6" %>
    </div>
  </div>
</div>
