<p id="notice"><%= notice %></p>

<h1>Stores VIEW</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%= store.name %></td>
        <td><%= store.description %></td>
        <td><%= store.user_id %></td>
        <td><%= link_to 'Show', store_path(store) %></td>
        <% unless current_user.nil? %>
          <% if current_user.store.eql?(store) %>
            <td><%= link_to 'Edit', edit_store_path(store) %></td>
            <td><%= link_to 'Destroy', store_path(store), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% unless current_user.nil? %>
  <% if current_user.store.nil? %>
    <%= link_to 'New Store', new_store_path %>
  <% end %>
<% end %>
