<div class="form-group">
  <h1><%= @store.name %> </h1>
</div>

<div class="form-group">
  <h4>
    <%= @store.description %>
  </h4>
</div>


<% if user_signed_in? && current_user.store.eql?(@store) %>
  <%= link_to 'Editar nombre y descripción', edit_store_path(@store) %> |
  <%= link_to 'Agregar Producto', profile_products_path %>
<% end %>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
  <%= render @store.products %>
</div>
