<div class="container">
  <% if cart_products_count.positive? %>
    <table class="table table-hover">
      <thead>
        <tr class="table_head align-content-center">
          <th></th>
          <th class="column-1" scope="col">Name</th>
          <th class="column-2" scope="col">Description</th>
          <th class="column-3" scope="col">Size</th>
          <th class="column-4" scope="col">Price</th>
          <th class="column-5" scope="col">Quantity</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @quantities_hash.each do |product, quantity| %>
          <tr class="product_<%= product.id %>">
            <% if Rails.env.production? %>
              <td style="width: auto;">
                <div class="align-items-center col">
                  <%= cl_image_tag product.images.first.key, style: "max-width: 80px; max-height: 80px;" %>
                </div>
              </td>
            <% else %>
              <td style="width: auto;">
                <div class="align-items-center col">
                  <%= image_tag product.images.first, style: "max-width: 80px; max-height: 80px;" %>
                </div>
              </td>
            <% end %>
            <td style="width: auto;"><%= link_to product.name, [product.store, product] %></td>
            <td><%= product.description %></td>
            <td><%= product.size  %></td>
            <td><%= number_to_currency product.full_price(@currency), locale: @currency %></td>
            <td>
              <input class="col" type="number" value="1">
            </td>
            <td>
              <%= form_tag orders_remove_from_cart_path(product_id: @product), remote: true do %>
                <%= hidden_field_tag :product_id, product.id %>
                <%= submit_tag 'Remove', class: "btn btn-primary" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="row">
      <div>
        <h3>Total $ </h3>
      </div>
    </div>

    <button id="checkout-button" class="btn btn-primary"><%= t(:pay_order) %></button>

  <% else %>
    <h1><%= t(:empty_cart) %></h1>
  <% end %>
</div>




