<div class="container">
  <% if cart_products_count.positive? %>
    <table class="table table-hover table-responsive">
      <thead>
        <tr class="table_head align-content-center">
          <th></th>
          <th class="column-1" scope="col">Item</th>
          <th class="column-2" scope="col">Quantity</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @quantities_hash.each do |product, quantity| %>
          <tr class="product_<%= product.id %> product_row" data-price="<%= product.full_price(@currency) %>" data-product_id="<%= product.id %>">
            <% if Rails.env.production? %>
              <td>
                <div class="align-items-center col">
                  <%= cl_image_tag product.images.first.key, style: "max-width: 80px; max-height: 80px;" %>
                </div>
              </td>
            <% else %>
              <td>
                <div class="align-items-center col">
                  <%= image_tag product.images.first, style: "max-width: 80px; max-height: 80px;" %>
                </div>
              </td>
            <% end %>
            <td>
              <h5><%= link_to product.name, [product.store, product] %></h5>
              <h6><%= number_to_currency product.full_price(@currency), locale: @currency %></h6>
              <div><%= product.description %></div>
              <div><%= product.size  %></div>
            </td>
            <td>
              <%= select_tag "quantity[#{product.id}]", options_for_select((1..10).to_a, quantity), class: "form-control update_quantity_in_cart" %>
            </td>
            <td>
              <%= form_tag orders_remove_from_cart_path(product_id: @product), remote: true do %>
                <%= hidden_field_tag :product_id, product.id %>
                <%= submit_tag 'Remove', class: "btn btn-primary" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <h1><%= t(:empty_cart) %></h1>
  <% end %>
</div>
