<div id="carouselExampleControls" class="carousel slide mb-4" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "carrousel_1.PNG", class: "d-block w-100", alt: "product.name" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "carrousel_2.PNG", class: "d-block w-100", alt: "product.name" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "carrousel_3.PNG", class: "d-block w-100", alt: "product.name" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "carrousel_4.PNG", class: "d-block w-100", alt: "product.name" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "carrousel_5.PNG", class: "d-block w-100", alt: "product.name" %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5" id="products--index" >
  <% @products.each do |product| %>
    <%= render "/products/product", product: product, size: "max-height: 150%, min-height: 100%" %>
  <% end %>
</div>
<script type="text/javascript">
  $(".list-group-item-action").on("click", function(){
    $(this).closest(".list-group").find("a").removeClass("active");
    $(this).addClass("active");
    return false;
  })
</script>
