<div class="container col-md-8" style="background-color: #f5f5ef">
  <div class="row">
    <%if current_user.blank?%>
      <%= link_to "suscribirse", new_user_registration_path(new_partner: true), class: "btn btn-primary btn-lg my-4 ml-auto mr-3" %>
    <% else %>
      <%= link_to "suscribirse", statics_suscription_path, class: "btn btn-primary btn-lg my-4 ml-auto mr-3" %>
    <% end %>

  </div>
  <div class="row">
      <h4 class="text-center mx-auto" style="color:#8b7b55">ELABORO ARTESANÍAS Y</h4>
  </div>
  <div class="row">
    <h1 class="text-justify mx-auto">QUIERO VENDER</h1>
  </div>
  <div class="row">
    <p class="text-justify text-center" style="color:#8b7b55">
      Somos una tienda cooperativa virtual, creada por  personas artesanas mexicanas y profesionales en varias áreas; reunidas para crear valor y compartir nuestra identidad de manera solidaria.
    </p>
  </div>
  <br>
  <div class="row offset-3" style="color:#8b7b55">
      ¿QUÉ ES UNA COOPERATIVA Y CÓMO FUNCIONA?
    </div>
     <br>
  <table >
    <div class="container table-secondary" style="background-color: #e1e1cf;">
      <div class="row">
        <div class="col-sm border border-white">
          Somos un colectivo de propietarixs
        </div>
        <div class="col-sm border border-white">
          Tomamos decisiones de forma democrática
        </div>
        <div class="col-sm border border-white">
          Trabajamos por el bienestar de todxs
        </div>
      </div>
      <div class="row">
        <div class="col-sm border border-white">
          Una persona un voto
        </div>
        <div class="col-sm border border-white">
          Decidimos en asamblea el destino de los beneficios -ganancias
        </div>
        <div class="col-sm border border-white">
          Aportamos con nuestro trabajo
        </div>
      </div>
    </div>
  </table>
  <br>
  <br>
  <div class="container">
    <a class="img-fluid">
      <%= image_tag "proceso.png", class: "img-fluid", size: "900x300"%>
    </a>
  </div>
  <br>
  <table>
    <div class="row offset-2">
      INFORMACIÓN IMPORTANTE ANTES DE REGISTRARTE COMO VENDEDOR
    </div>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-sm border border-white" style="color: white; background-color:#a19381" >
          Se colaborará con personas artesanas que realicen principalmente textiles
        </div>
        <div class="col-sm border border-white" style="background-color:#dbc7ac">
          Tus prendas pueden estar a la venta todo el tiempo que tú lo decidas
        </div>
        <div class="col-sm border border-white" style="color: white;background-color:#694a01">
          Serás administrador de tu propia tienda
          Podrás vigilar quienes visitan y han comprado tus productos
        </div>
      </div>

      <div class="row">
        <div class="col-sm border border-white" style="color: white;background-color:#a19381">
          Por ejemplo: blusas, camisas, tapetes, caminos, bolsas,etc. con identidad cultural comunitaria
        </div>
        <div class="col-sm border border-white" style="background-color:#dbc7ac">
          Tú decidirás cuando quitarla de la tienda o subir nuevos productos
        </div>
        <div class="col-sm border border-white" style="color: white;background-color:#694a01">
          Tú conservas tu prenda hasta el último momento de la venta
        </div>
      </div>

      <div class="row">
        <div class="col-sm border border-white" style="color: white;background-color:#a19381">
          No cobramos suscripción por vender en la plataforma
        </div>
        <div class="col-sm border border-white" style="background-color:#dbc7ac">
          No hay mínimo ni máxino de productos
          La artesanías tendrán un sobreprecio para cubrir los costos
        </div>
        <div class="col-sm border border-white" style="color: white;background-color:#694a01">
          Recibirás ayuda para saber si le estás poniendo el precio justo a tu artesanía
        </div>
      </div>

      <div class="row">
        <div class="col-sm border border-white" style="color: white;background-color:#a19381">
          Tú decides que prendas quieres vender, podrás subir o bajas los precios
        </div>
        <div class="col-sm border border-white" style="background-color:#dbc7ac">
          Y en este primer año de la cooperativa acordó que aportación social será en trabajo, no hay  aportación en dinero
        </div>
        <div class="col-sm border border-white" style="color: white;background-color:#694a01">
          No estás segurx que tus productos se puedan vender en la tienda, no te preocupes nosotras te diremos
        </div>
      </div>

      <div class="row">
        <div class="col-sm border border-white" style="color: white;background-color:#a19381">
          No tendrás que mover tus artesanías, la paquetería irá por ellas
        </div>
        <div class="col-sm border border-white" style="background-color:#dbc7ac">
          Las asambleas, Planteamiento de necesidades y solución será muy práctico en internet ¡te guiaremos! (no te desplazarás a ningún sitio)
        </div>
        <div class="col-sm border border-white" style="color: white;background-color:#694a01">
          Si tienes dudas puedes llamar a este número o enviar un WhatsApp 9514081745
        </div>
      </div>
    </div>
  </table>
  <br>
  <div class="row">
    <p class="text-justify text-center">
      Proyectos tan apasionantes que nadie quiera quedarse fuera, y tan ambiciosos que a nadie se le ocurra hacerlo en solitario.
    </p>
  </div>

  <div class="row">
    <%if current_user.blank?%>
      <%= link_to "suscribirse", new_user_registration_path(new_partner: true), class: "btn btn-primary btn-lg my-4 ml-auto mr-3" %>
    <% else %>
      <%= link_to "suscribirse", statics_suscription_path, class: "btn btn-primary btn-lg my-4 ml-auto mr-3" %>
    <% end %>
  </div>
</div>


