<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @proposal.body %>
</p>

<p>
  <strong>Votes count:</strong>
  <%= @proposal.votes_count %>
</p>

<p>
  <strong>Votes porcentage:</strong>
  <%= @proposal.votes_porcentage %>
</p>

<p>
  <strong>Users:</strong>
  <%= @proposal.users_id %>
</p>

<p>
  <strong>Agremments:</strong>
  <%= @proposal.agremments_id %>
</p>

<%= link_to 'Edit', edit_proposal_path(@proposal) %> |
<%= link_to 'Back', proposals_path %>
