<h1>estamos en el index</h1>
<h2>Tiendas</h2>
<% @stores.each do |store| %>
      <tr>
        <td><%= store.name %></td>
        <td><%= store.description %></td>
        <td><%= store.user_id %></td>
        <td><%= link_to 'Show', store_path(store) %></td>
      </tr>
    <% end %>
<h2>Usuarios</h2>
<h2>Productos</h2>
<% @products.each do |product| %>
  <tr>
    <% if Rails.env.production? %>
      <td >
        <div class="d-flex align-items-center mr-3">
          <%= cl_image_tag product.images.first.key, class: "card-img-top" %>
        </div>
      </td>
    <% else %>
      <td >
        <div class="d-flex align-items-center mr-3" style="max-width: 50px;">
          <%= image_tag product.images.first, class: "card-img-top" %>
        </div>
      </td>
    <% end %>
    <td><%= product.name %></td>
    <td><%= product.description %></td>
    <td><%= product.price %></td>
    <td><%= product.size %></td>
    <td><%= product.quantity %></td>
    <td><%= product.store_id %></td>
    <td><%= link_to 'Show', store_product_path(product.store_id, product.id) %></td>
  </tr>
<% end %>
