<div id="edit-card--modal" class="modal" tabindex="-1">
  <div class="modal-dialog" id="edit-card--modal-dialog">
    <div class="modal-content pl-5 pr-5 pb-5">
      <div class="modal-header">
        <h5 class="modal-title">Nuevo Tarjeta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_with(model: @card, local: false) do |form| %>
        <div class="modal-body">
          <% if @card.errors.any? %>
            <div>
              <h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>

              <ul>
                <% @card.errors.each do |error| %>
                  <li><%= error.full_message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field">
            <%= form.label :number_card %>
            <%= form.number_field :number_card, required: :value %>
          </div>

          <div class="field">
            <%= form.label :name_bank %>
            <%= form.text_field :name_bank, required: :value %>
          </div>

          <div class="field">
            <%= form.label :titular_name %>
            <%= form.text_field :titular_name, required: :value %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= form.submit class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
