<p id="notice"><%= notice %></p>

<h1><%= t(:cards) %></h1>

<table>
  <thead>
    <tr>
      <th><%= t(:number_card)%></th>
      <th><%= t(:name_bank)%></th>
      <th><%= t(:titular_name)%></th>
      <th><%= t(:expiration_date)%></th>
      <th><%= t(:type)%></th>
      <th><%= t("activerecord.models.user.one")%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.number_card %></td>
        <td><%= card.name_bank %></td>
        <td><%= card.titular_name %></td>
        <td><%= card.expiration_date %></td>
        <td><%= card.type %></td>
        <td><%= card.user_id %></td>
        <td><%= link_to t(:show), card %></td>
        <td><%= link_to t(:edit), edit_card_path(card) %></td>
        <td><%= link_to t(:destroy), card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t(:new_card), new_card_path %>
