<p id="notice"><%= notice %></p>

<p>
  <strong><%=t(:number_card)%></strong>
  <%= @card.number_card %>
</p>

<p>
  <strong><%=t(:name_bank)%></strong>
  <%= @card.name_bank %>
</p>

<p>
  <strong><%=t(:titular_name)%></strong>
  <%= @card.titular_name %>
</p>

<p>
  <strong><%=t(:expiration_date)%></strong>
  <%= @card.expiration_date %>
</p>

<p>
  <strong><%=t(:type)%></strong>
  <%= @card.type %>
</p>

<p>
  <strong><%=t("activerecord.models.user.one")%></strong>
  <%= @card.user_id %>
</p>

<%= link_to t(:edit), edit_card_path(@card) %> |
<%= link_to t("devise.shared.links.back"), cards_path %>
