<p id="notice"><%= notice %></p>

<h1>Agremments</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>State</th>
      <th>Users</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @agremments.each do |agremment| %>
      <tr>
        <td><%= agremment.title %></td>
        <td><%= agremment.description %></td>
        <td><%= agremment.state %></td>
        <td><%= agremment.users_id %></td>
        <td><%= link_to 'Show', agremment %></td>
        <td><%= link_to 'Edit', edit_agremment_path(agremment) %></td>
        <td><%= link_to 'Destroy', agremment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Agremment', new_agremment_path %>
