<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @agreement.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @agreement.description %>
</p>

<p>
  <strong>State:</strong>
  <%= @agreement.state %>
</p>

<p>
  <strong>User:</strong>
  <%= @agreement.user_id %>
</p>

<%= link_to 'Edit', edit_agreement_path(@agreement) %> |
<%= link_to 'Back', agreements_path %>
