
<%= form_with model: [ @store, @product] do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :images, class: "p-2 " %>
  <%= form.file_field :images, multiple: true, class: 'form-control', direct_upload: true, required: :value %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, required: :value %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, required: :value %>
  </div>

  <div class="field">
    <%= form.label :price_in_cents %>
    <%= form.number_field :price_in_cents, required: :value %>
  </div>

  <div class="field">
    <%= form.label :size %>
    <%= form.text_field :size, required: :value %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, required: :value %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
