  <tr>
    <% if Rails.env.production? %>
      <td >
        <div class="d-flex align-items-center mr-3">
          <%= cl_image_tag product.image.key, class: "card-img-top" %>
        </div>
      </td>
    <% else %>
      <td >
        <div class="d-flex align-items-center mr-3" style="max-width: 50px;">
          <%= image_tag product.images.first, class: "card-img-top" %>
        </div>
      </td>
    <% end %>
    <td><%= product.name %></td>
    <td><%= product.description %></td>
    <td><%= product.price_in_cents %></td>
    <td><%= product.size %></td>
    <td><%= product.quantity %></td>
    <td><%= product.store_id %></td>
    <td><%= link_to 'Show', store_product_path(product.store_id, product.id) %></td>
    <% unless current_user.nil? %>
      <% if current_user.store.eql?(@store) %>
        <td><%= link_to 'Edit', edit_store_product_path(product.store_id, product.id) %></td>
        <td><%= link_to 'Destroy', store_product_path(product.store_id, product.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    <% end %>
  </tr>


