<div class="col">
  <div class="card border-light my-3 overflow-hidden" style="height: 100%">
    <div class="text-center" style="height: 300px" >
      <%= link_to [product.store, product], class: "hov-img0" do %>
        <% if product.images.count > 1 %>
          <div id="carouselProduct_<%= product.id %>" class="carousel slide mb-4" data-ride="carousel">
            <div class="carousel-inner" >
              <% product.images.each_with_index do |image, i| %>
                <div class="carousel-item <%= 'active' if i === 0 %>" style="height: 300px">
                  <%= image_tag image, alt: product.name, style: "max-height: 150%, min-height: 100%" %>
                </div>
              <% end %>
            </div>
            <a class="carousel-control-prev" href="#carouselProduct_<%= product.id %>" role="button" data-slide="prev">
              <button class="btn btn-secondary sm" style="">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
              </button>
            </a>
            <a class="carousel-control-next" href="#carouselProduct_<%= product.id %>" role="button" data-slide="next">
              <button class="btn btn-secondary sm" style="">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
              </button>
            </a>
          </div>
        <% elsif product.images.present? %>
          <%= image_tag product.images.first, class: "img-fluid", alt: product.name, style: "max-height: 150%, min-height: 100%" %>
        <% end %>
      <% end %>
    </div>
    <div class="card-body bg-white" id="card-body-name_and_price" style="height: 100%">
      <h5><%= product.name %></h5>
      <p class="card-text">
        <%= number_to_currency product.full_price(@currency), locale: @currency %>
      </p>
    </div>
    <%= link_to 'Ver', store_product_path(product.store, product), :remote=>true, class: "btn btn-info button_edit_product text-white m-2" %>
    <%= link_to 'Editar', edit_store_product_path(product.store, product), :remote=>true, class: "btn btn-primary button_edit_product text-white m-2" %>
    <%= link_to 'Eliminar', store_product_path(product.store, product), method: :delete, data: { confirm: 'Are you sure?' }, :remote=>true, class: "btn btn-danger button_edit_product text-white m-2" %>
  </div>
</div>

<script async type="text/javascript">
  $(".button_edit_product").hide();
</script>
