<p id="notice"><%= notice %></p>
<% if Rails.env.production? %>
  <div >
    <%= cl_image_tag @product.image.key%>
  </div>
<% else %>
  <div >
    <%= image_tag @product.images.first%>
  </div>
<% end %>
<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price in cents:</strong>
  <%= @product.price_in_cents %>
</p>

<p>
  <strong>Size:</strong>
  <%= @product.size %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @product.quantity %>
</p>

<%= link_to 'Edit', edit_store_product_path(@product.store, @product) %> |
<%= link_to 'Back', store_products_path(@product.store) %>|
<%= link_to 'Destroy', store_product_path(@product.store, @product), method: :delete, data: { confirm: 'Are you sure?' } %>
