<nav class="navbar navbar-toggleable-md navbar-expand-lg navbar-light bg-light pt-4 main_toolbar">
  <div class="container">
    <div class="flex-column w-100 my-30" id="navbarCollapse">
      <ul class="navbar-nav flex-row w-100 justify-content-between">
        <li class="nav-item active">
          <%= link_to "Color de mi pueblo", statics_home_path, class: "navbar-brand my-auto" %>
        </li>
        <li class="nav-item w-50">
          <%= form_with url: "/search", local: false, remote: true, class: "mr-auto" do %>
            <div class="input-group ">
              <%= text_field_tag :filter, params[:filter], class: "form-control", placeholder: t(:search), id: "input_search" %>
              <div class="input-group-append">
                <%= button_tag class: "btn btn-outline-secondary" do %>
                  <span class="fas fa-search"></span>
                <% end %>
              </div>
            </div>
          <% end %>
        </li>
        <li class="nav-item cart_icon">
          <%= render "layouts/cart_icon" %>
        </li>
      </ul>
      <ul class="navbar-nav flex-row mb-2 d-flex align-content-around flex-wrap">
        <li class="nav-item flex-grow-2 <%= 'active' if controller_name == 'products' %>">
          <%= link_to t(:shop), products_path, class: "nav-link mr-4" %>
        </li>
        <li class="nav-item flex-grow-2 <%= 'active' if controller_name == 'stores' %>">
          <%= link_to t(:about_us), stores_path, class: "nav-link mr-4" %>
        </li>
        <li class="nav-item flex-grow-2 <%= 'active' if controller_name == 'statics' %>">
          <%= link_to t(:artesanos), statics_information_path, class: "nav-link mr-4" %>
        </li>
        <li class="nav-item flex-grow-1">
        </li>
        <li class="nav-item flex-grow-2">
          <%= link_to languages_set_language_path, style: "color: black;", method: :post, class: "nav-link mr-4" do %>
            <span class="fas fa-globe" style="font-size: 20px;"></span>
            <%= current_or_guest_user.locale.upcase %> <%= @currency.upcase %>
          <% end %>
        </li>
        <li class="nav-item flex-grow-2 dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <% if user_signed_in? %>
              <%= current_user.email %>
            <% else %>
              <span class="fas fa-user" style="font-size: 20px;"></span>
            <% end %>
          </a>
          <div class="dropdown-menu m-0" aria-labelledby="navbarDropdown">
            <% if user_signed_in? %>
              <%= label_tag t(:welcome), nil, class: "px-4 pt-2 text-muted" %>
              <%= label_tag current_user.email, nil, class: "px-4 pt-2 text-muted" %>
              <div class="dropdown-divider"></div>
              <%= link_to t(:my_profile), profile_show_path, class: "dropdown-item" %>
              <%= link_to current_user.store.name, store_path(current_user.store), class: "dropdown-item" if current_user.store.present? %>
              <div class="dropdown-divider"></div>
              <%= link_to t(:log_out), destroy_user_session_path, class: "dropdown-item", method: :delete %>
            <% else %>
              <%= link_to t("devise.sessions.new.sign_in"), new_user_session_path,class: "dropdown-item" %>
              <%= link_to t("devise.registrations.new.sign_up"), new_user_registration_path, class: "dropdown-item"  %>
            <% end %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
