<!DOCTYPE html>
<html>
  <head>
    <title>Color de mi pueblo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/101b932633.js" crossorigin="anonymous"></script>
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>

    <%= render "layouts/main_navbar" %>

    <div class="row">
      <div class="offset-md-1 col-md-10 col-sm-12">
        <% if notice %>
          <div class="alert alert-success my-2" role="alert">
            <%= notice %>
          </div>
        <% elsif alert %>
          <div class="alert alert-danger my-2" role="alert">
            <%= alert %>
          </div>
        <% elsif flash[:error] %>
          <div class="alert alert-danger my-2" role="alert">
            <%= flash[:error] %>
          </div>
        <% end %>
        <br>

        <%= yield %>
      </div>
    </div>

<!--     <footer>
      <div class="container-f mx-auto ">
        <nav class="navbar navbar-expand sticky-top ">
          <ul class="navbar-nav mx-auto">
            <li class="col-lg-6 nav-item">
              <a href="#"> Preguntas frecuentes</a>
            </li>
            <li class="col-lg-6 nav-item">
              <a href="#"> Contáctanos</a>
            </li>
            <li class="col-lg-6 nav-item">
              <a href="#"> Prensa</a>
            </li>
            <li class="col-6 nav-item">
              <a href="#"> Términos y condiciones</a>
            </li>
          </ul>
        </nav>
      </div>
    </footer> -->
  </body>
</html>

