<!DOCTYPE html>
<html>
  <head>
    <title>Olympia</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/101b932633.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header >
      <div class="container-f">
        <nav class="navbar navbar-dark bg-dark navbar-expand-sm-2 navbar-light bg-light  ">
          <a class="navbar-brand" href="#">Expendio Artesano</a>
          <form class="d-flex col-md">
            <input class="form col-3 col-sm-4 col-md-6 col-lg-8 col-xl-8 f " type="text-white" placeholder="Buscas algo en especial?" aria-label="Search">
            <button class="btn btn-outline-success " type="submit">Search</button>
            <%= link_to "<i class='fas fa-shopping-cart'></i>".html_safe, "#", style: "font-size: 20px; color: white;" %>
          </form>

          <% if user_signed_in? %>
            <div class="text-light"> User: <strong class="ml-2 mr-2">
              <%= current_user.email %> </strong>
            </div>

            <%= link_to 'Edit profile', edit_user_registration_path, class: "btn btn-outline-secondary"%>

            <%= link_to "Log out", destroy_user_session_path,class: "btn btn-outline-secondary", method: :delete %>
          <% else %>
            <%= link_to "Sing in", new_user_registration_path, class: "btn btn-outline-secondary"  %>
            <%= link_to "Log in", new_user_session_path,class: "btn btn-outline-secondary" %>
          <% end %>

        </nav>
      </div>

      <div class="container-f">
        <nav class="navbar navbar-dark bg-dark navbar-expand-sm navbar-light bg-light sticky-top ">
          <ul class="navbar-nav ">
            <li class="col nav-item">
              <%= link_to 'Productos', products_path, class: "nav-link active" %>
            </li>
            <li class="col nav-item">
              <%= link_to 'Stores', stores_path, class: "nav-link active" %>
            </li>
            <li class=" col nav-item">
              <a class="nav-link active" aria-current="page" href="#">
              Artesanos
              </a>
            </li>
            <li class=" col nav-item">
              <a class="nav-link active" aria-current="page" href="#">
              Cursos
              </a>
            </li>
            <li class=" col nav-item">
              <a class="nav-link active" aria-current="page" href="#">
              Promociones
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <% if notice %>
      <div class="alert alert-success" role="alert">
        <%= notice %>
      </div>
    <% end %>

    <% if alert %>
      <div class="alert alert-danger" role="alert">
        <%= alert %>
      </div>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>

    <footer>
      <div class="container-f mx-auto ">
        <nav class="navbar navbar-expand sticky-top ">
          <ul class="navbar-nav mx-auto">
            <li class="col-lg-6 nav-item">
              <a href="#"> Preguntas frecuentes</a>
            </li>
            <li class="col-lg-6 nav-item">
              <a href="#"> Contáctanos</a>
            </li>
            <li class="col-lg-6 nav-item">
              <a href="#"> Prensa</a>
            </li>
            <li class="col-6 nav-item">
              <a href="#"> Términos y condiciones</a>
            </li>
          </ul>
        </nav>
      </div>
    </footer>
  </body>
</html>
