<!DOCTYPE html>
<html>
  <head>
    <title>¡Pásele wera!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/101b932633.js" crossorigin="anonymous"></script>
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>

    <%= render "layouts/main_navbar" %>

    <div class="row">
      <div class="offset-md-1 col-md-10 col-sm-12">
        <% if notice %>
          <div class="alert alert-success my-2" role="alert">
            <%= notice %>
          </div>
        <% elsif alert %>
          <div class="alert alert-danger my-2" role="alert">
            <%= alert %>
          </div>
        <% elsif flash[:error] %>
          <div class="alert alert-danger my-2" role="alert">
            <%= flash[:error] %>
          </div>
        <% else %>
          <div class="artesanos text-center my-2">
            <%= link_to "Si eres artesano, haz click en aquí.", "#" %>
          </div>
        <% end %>

        <%= yield %>
      </div>
    </div>

<!--     <footer>
      <div class="container-f mx-auto ">
        <nav class="navbar navbar-expand sticky-top ">
          <ul class="navbar-nav mx-auto">
            <li class="col-lg-6 nav-item">
              <a href="#"> Preguntas frecuentes</a>
            </li>
            <li class="col-lg-6 nav-item">
              <a href="#"> Contáctanos</a>
            </li>
            <li class="col-lg-6 nav-item">
              <a href="#"> Prensa</a>
            </li>
            <li class="col-6 nav-item">
              <a href="#"> Términos y condiciones</a>
            </li>
          </ul>
        </nav>
      </div>
    </footer> -->
  </body>
</html>

