<!DOCTYPE html>
<html>
  <head>
    <title>¡Pásele wera!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/101b932633.js" crossorigin="anonymous"></script>
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>

    <div class="d-flex" id="wrapper">

      <!-- Sidebar -->
      <div class="bg-light border" id="sidebar-wrapper">
        <div class="row d-flex">
          <td class="col">
            <div class="sidebar-heading"> <%= current_user.full_name %> </div>
          </td>
        </div>
        <div class="list-group list-group-flush">
          <%= link_to 'Perfil', profile_show_path, class: "list-group-item list-group-item-action bg-light" %>
          <%= link_to 'Envíos', profile_shipments_path, class: "list-group-item list-group-item-action bg-light" %>
          <%= link_to 'Ordenes', profile_orders_path, class: "list-group-item list-group-item-action bg-light" %>
          <%= link_to 'Productos', profile_products_path, class: "list-group-item list-group-item-action bg-light" %>
          <%= link_to 'Tarjeta', profile_cards_path, class: "list-group-item list-group-item-action bg-light" %>
        </div>
      </div>


      <!-- /#sidebar-wrapper -->

      <!-- Page Content -->
      <div id="page-content-wrapper">

        <% if notice %>
          <div class="alert alert-success my-2" role="alert">
            <%= notice %>
          </div>
        <% elsif alert %>
          <div class="alert alert-danger my-2" role="alert">
            <%= alert %>
          </div>
        <% elsif flash[:error] %>
          <div class="alert alert-danger my-2" role="alert">
            <%= flash[:error] %>
          </div>
        <% else %>
          <div class="artesanos text-center my-2">
          </div>
        <% end %>

        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col">
              <div id="change-state-toggle">
                <button id="menu-toggle-right" class="btn btn-outline-secondary">
                  <i class="fas fa-angle-double-right" id="menu-toggle-right_icon" style="font-size: 20px;"></i>
                </button>
                <button id="menu-toggle-left" class="btn btn-outline-secondary">
                  <i class="fas fa-angle-double-left" id="menu-toggle-left_icon" style="font-size: 20px;"></i>
                </button>
              </div>
            </div>
            <%= link_to root_path, class: "btn btn-outline-secondary d-flex align-item-center" do %>
              Ir a Tienda<span class="far fa-arrow-alt-circle-right" style="font-size: 25px;"></span>
            <% end %>
          </div>

          <%= yield %>
        </div>
      </div>
      <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <script>
      if($("#wrapper").hasClass( "toggled" )){
        $("#menu-toggle-right").hide();
      }else{
        $("#menu-toggle-left").hide();
      }

      $("#menu-toggle-right").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
        $("#menu-toggle-right").hide();
        $("#menu-toggle-left").show();
      });
      $("#menu-toggle-left").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
        $("#menu-toggle-right").show();
        $("#menu-toggle-left").hide();
      });


    </script>
  </body>
</html>

